// Define variables for your color scheme

// For example:
$red: #a61f21;
$blue: #09A3FA;
$blueHover: #0089d8;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #9C9C9C;
$light-gray: #F4F4F4;
