// Specific CSS for your home-page
.elevage-container {
  margin-top: 50px;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;

  .elevage {
    width: 100%;
    height: 300px;
    color: black;
    background-color: white;
  }
}

.production-container {
  margin-top: 50px;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;

  .products {
    width: 100%;
    height: 300px;
    color: black;
    background-color: rgb(255, 0, 0);
  }
}

.enable {
  display: grid;
}
