.list-etape {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;

  .etape {
    background-color: rgb(206, 206, 206);
    padding: 50px;
    border-radius: 5px;

    a {
      display: inline-block;
      color: black;
      font-weight: bold;
      transition: all 0.4s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}


.list-tableau {

  .tableau-content {
    border-radius: 10px;

    table {
      color: black;
      border-collapse: separate;

      th, td {
        padding: 10px;
        border: 1px solid rgb(191, 191, 191);
        border-radius: 5px;
        background-color: rgb(238, 238, 238);
      }

      thead {
        td {
          color: $gray;
          font-weight: bold;
        }
      }

      tbody {
        td {
          color: $blue;
          font-weight: bold;
        }
      }
    }
  }
}
