<div class="head-bar">
  <h1><%= link_to "DigiNustrale", porcs_path %></h1>

  <div class="info-head-bar">
    <% if current_user.nil? %>
      <span>Bienvenue !</span>
    <% else %>
      <span>Bonjour, <%= current_user.prénom %></span>
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete, turbo_action: "replace", turbo_frame: "user-menu" } do %>
        <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
    <% end %>
  </div>
</div>
