<div class="nav-container">
  <div class="option-bar">
    <div class="option-left">
      <p class="active" data-grid-target="button" data-action="click->grid#toggle">MON CHEPTEL</p>
      <p data-grid-target="button" data-action="click->grid#toggle">MES LOTS</p>
      <span class="active-indicator" data-grid-target="bar"> </span>
    </div>

    <div class="option-right">
      <div class="search active" data-grid-target="form">
        <form action="porcs" data-turbo-method="get">
          <input type="text" placeholder="N° IPG" name="ipg" value="<%= @ipg %>" required>
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <div class="search" data-grid-target="form">
        <form action="porcs" data-turbo-method="get">
          <input type="text" placeholder="N° LOT" name="lot" value="<%= @lot %>" required>
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>

      <%= link_to new_porc_path, class: "button-custom" do %>
        <i class="fa-solid fa-plus"></i>&nbsp; AJOUTER UN ANIMAL
      <% end %>
      <%= link_to new_abattage_path, class: "button-custom", data: { turbo: "false" } do %>
        <i class="fa-sharp fa-solid fa-share"></i>&nbsp; ABATTAGE
      <% end %>
    </div>
  </div>
</div>
