<div class="nav-container">
  <div class="option-bar">
    <div class="option-left">
      <p class="active" data-grid-target="button" data-action="click->grid#toggle">Mon élevage</p>
      <p data-grid-target="button" data-action="click->grid#toggle">Mes productions</p>
      <span class="active-indicator" data-grid-target="bar"></span>
    </div>

    <div class="option-right">
      <form action="" method="get">
        <input type="text" placeholder="N° identifiant">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>

      <%= link_to new_porc_path, class: "button-custom" do %>
        <i class="fa-solid fa-plus"></i>&nbsp; Ajouter un porc
      <% end %>
      <%= link_to new_abattage_path, class: "button-custom" do %>
        <i class="fa-sharp fa-solid fa-share"></i>&nbsp; Passer a l'abatoire
      <% end %>
    </div>
  </div>
</div>
