<div data-controller="grid">
  <%= render "shared/navbar" %>

  <div class="elevage-container enable" data-grid-target="grid">
    <% @porcs.each do |porc| %>
      <div class="elevage">
        <p> IPG: <%= porc.user.EDE %><%= porc.boucle %></p>
      </div>
    <% end %>
  </div>

  <div class="production-container" data-grid-target="grid">
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
  </div>
</div>
