<h1>Index des porcs vivants</h1>

<% @porcs.each do |porc| %>
<p> IPG: <%= porc.user.EDE %><%= porc.boucle %></p>
<%= link_to "Voir détails du porc", porc_path(porc) %>
<% end %>

<p><%= link_to "Ajoutez un nouveau porc", new_porc_path %></p>
