<div class="container-global">
  <%= render "shared/head_bar" %>
  <div class="form-create-container mt-3">
    <h2>Ajouter un nouveau porc</h2>
      <%= render "form", porc: @porc %>
  </div>
</div>
